<a class="login-area dropdown-toggle" data-toggle="dropdown">
    <div class="avatar" title="View your public profile">
        <img/>
    </div>
    <section>
        <h2><span class="profile"><span><%=current_user.name%></span></span></h2>
    </section>
</a>
<!--Login Area Dropdown-->
<ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
    <li class="username"><a><%=current_user.name%></a></li>
    <li class="email"><a><%= current_user.email %></a></li>
    <!--Avatar Area-->
    <li>
        <div class="avatar-area">
            <img />
            <span class="caption">Change Photo</span>
        </div>
    </li>
    <!--Avatar Area-->
    <li class="edit">
        <a href="profile.html" class="pull-left">Profile</a>
        <a href="#" class="pull-right">Setting</a>
    </li>
    
    <!--/Theme Selector Area-->
    <li class="dropdown-footer">
        <%=link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
    </li>
</ul>