<li>
        <%= link_to task do %>
            <div class="clearfix">
                <span class="pull-left"><%= task.name %></span>
                <span class="pull-right"><%= task.progress %></span>
            </div>
    
            <div class="progress progress-xs">
                <div style="width:<%= task.progress %>" class="progress-bar"></div>
            </div>
        </a>
    <% end %>
</li>